<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Edit Student</title>
  </head>
  <body>
    <form action="/students/edit/<%= data.id %>?_method=PUT" method="post">
      <label for="id">ID:</label>
      <input type="number" id="id" name="id" value="<%= data.id %>" />
      <br />
      <label for="name">Name:</label>
      <input type="text" name="name" id="name" value="<%= data.name %>" />
      <br />
      <label for="age">Age:</label>
      <input type="number" name="age" id="age" value="<%= data.age %>" />
      <br />
      <label for="merit">Merit:</label>
      <input
        type="number"
        name="merit"
        id="merit"
        value="<%= data.scholarship.merit %>"
      />
      <br />
      <label for="other">Other:</label>
      <input
        type="number"
        name="other"
        id="other"
        value="<%= data.scholarship.other %>"
      />
      <br />
      <button>Submit</button>
    </form>
  </body>
</html>
